node_modules/
.env
.DS_Store
dist/
build/
*.tar.gz
server.crt5
server.key
backend/.env
frontend/.env
frontend/dist/
*.pem
ansible/
terraform/
security_reports/
PIPELINE_SUCCESS_LOG.txt
Final_Project_Report.docx
final_project_submission_report.md
PROJECT_MASTER_GUIDE.md
Jenkinsfile
